footer {
  background-color: #2c1315;
  padding: 130px;
  color: #eae0ce;
  text-align: center; /* Centrer le texte horizontalement */
}

// .coordinate p {
//   font-size: 18px;
// }

.coordinate img {
  margin-right: 5px;
}

.copyright p {
  font-size: 14px;
}
