header {
  background-color: #2c1315;
  padding: 20px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header a {
  color: #eae0ce;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-left: 65px;
}

header a:hover {
  color: #720004;
}

.header-content {
  display: flex;
  align-items: center; /* Alignement vertical au centre */
}

.link {
  margin-left: auto; /* Pousse les liens vers la droite */
}

.logo {
  height: 50px;
}

/* S'assurer que les images dans le header ne sont pas affectées */
header img,
header .menu-toggle img,
header .close-button,
.header-content .link img {
  width: auto; /* ou spécifiez la largeur désirée */
}

/* Specific styling for logo images in the header if needed */
.header-content .logo {
  width: auto; /* or specify the desired width */
}
