header {
  background-color: #2c1315;
  padding: 20px;
}

header a {
  color: #eae0ce;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-left: 65px;
}

header a:hover {
  color: #720004;
}

.header-content {
  display: flex;
  align-items: center; /* Alignement vertical au centre */
}

.link {
  margin-left: auto; /* Pousse les liens vers la droite */
}
