.home {
  width: 100%; /* Pour que le conteneur prenne 100% de la largeur de l'écran */
  position: relative;
  margin-top: 70px;
}

.home img {
  width: 100%;
}

.title-container {
  background-color: #eae0ce;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  outline: 1px solid #2c1315;
  outline-offset: -16px;
}
