.info {
  background-color: #eae0ce;
  padding: 70px 15px;
  color: #eae0ce;
  text-align: center; /* Centrer le texte horizontalement */
}

@media (min-width: 768px) {
  .info {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .info {
    padding: 130px;
  }
}

.infocard {
  background-color: #4e4f46;
  outline: 1px solid #eae0ce;
  outline-offset: -16px;
  padding: 100px 0px;
}

@media (min-width: 768px) {
  .infocard {
    padding: 150px 0px;
  }
}

.day {
  text-align: right;
}

.hours {
  text-align: left;
}

@media (max-width: 768px) {
  #infocard2 {
    margin-top: 20px;
  }
}
