.info {
  background-color: #eae0ce;
  padding: 130px;
  color: #eae0ce;
  text-align: center; /* Centrer le texte horizontalement */
}

.infocard {
  background-color: #4e4f46;
  outline: 1px solid #eae0ce;
  outline-offset: -16px;
  padding: 150px;
}

.day {
  text-align: right;
}

.hours {
  text-align: left;
}
