.intro {
  background-color: #eae0ce;
  padding: 70px 20px;
  text-align: center; /* Centrer le texte horizontalement */
  color: #2c1315;
}

@media (min-width: 768px) {
  .intro {
    padding: 130px;
  }
}

h2 {
  font-family: marlide-display-variable, sans-serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
}

@media (min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}

.intro p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .intro p {
    font-size: 22px;
    margin-top: 40px;
  }
}
