.service {
  background-color: #eae0ce;
  padding: 130px;
  color: #2c1315;
  text-align: center; /* Centrer le texte horizontalement */
}

// .service h3 {
//   text-align: center;
// }

.service p img {
  margin-right: 5px;
}
